html, body {
	margin:0;
	padding:0;
}
@font-face{ 
	font-family: 'prelo_book';
	src: url('preloslab-book-webfont.eot');
	src: url('fonts/webfontkit-prelo/preloslab-book-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/webfontkit-prelo/preloslab-book-webfont.woff') format('woff'),
	     url('fonts/webfontkit-prelo/preloslab-book-webfont.ttf') format('truetype'),
	     url('preloslab-book-webfont.svg#prelo_book') format('svg');
}
@font-face{ 
	font-family: 'prelo_light';
	src: url('preloslab-light-webfont.eot');
	src: url('fonts/webfontkit-prelo/preloslab-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/webfontkit-prelo/preloslab-light-webfont.woff') format('woff'),
	     url('fonts/webfontkit-prelo/preloslab-light-webfont.ttf') format('truetype'),
	     url('preloslab-book-webfont.svg#prelo_light') format('svg');
}
body{
	text-align: center;
	font-family: 'prelo_light';
	background-color: #eee;
	color: #444;
	font-size: 90%;
}
a{
	color: #27D;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	text-decoration: underline;
}
p, li {
	line-height: 1.8em;
}
h1, h2 {
	font-family: 'prelo_book';
	margin: 0 0 10px 0;
	letter-spacing:-1px;
}
h1 {
	padding: 0;
	font-size: 3em;
	color: #333;
}
h2 {
	padding-top: 10px;
	font-size:2em;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
div#page {
	width: 900px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}
div#container {
	padding: 20px;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}
